
/* This stylsheet is for the styling of project cards */
.card-img-top {
    width: 100%;
}

.card-block {
   left: 50%;
    align-content: center;
}

.card-title {
    font-size: 16pt;
}

.card-text {
    font-size: 11pt;
}

.card {
    border: none;
}

.card:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #c4a29e;
}
