* {
    font-family: Avenir, sans-serif;
}

hr.section-break {
    width: 10%;
    position: relative;
    left: 0;
    margin: 50px 0 50px 0;
}

.page-container {
    margin: 120px 140px 0px 140px;
}

h1.page-header {
    font-family: Futura, sans-serif;
    font-size: 40pt;
    margin: 20px 0 20px 0;
}

h3.page-subheader {
    font-family: Avenir, sans-serif;
    font-weight: 100;
    font-size: 15pt;
    margin: 10px 0 20px 0;
}

.light-grey-text {
    color: #aaaaaa;
}

.grey-text {
    color: #a3a3a3;
}

.stark-blue-text {
    color: #6a869f;
}

.dark-grey-text {
    color: #939393;
}

@media only screen 
and (max-device-width : 1000px) 
and (min-device-width : 520px) {
    .page-container {
        margin: 120px 80px 0px 80px;
    }
}

@media only screen 
and (max-device-width : 520px) {
    .page-container {
        margin: 120px 40px 0px 40px;
    }
}


