
.bgimage{
    background-image: url(Images/header_background.png);
    height : 800px;
    background-size: cover;
    background-position : center center;
    margin-top: 900px;
}

.projectimage{
    background-image : url(Images/project_head_text.png);
    height : 800px;
    background-size: cover;
    background-position : center center;
    margin-top: 30px;

}


@media and (max-width: 900px) {
  .image-responsive {
    margin-top: 200px;
  }
}

.projectheader{
    text-align: center;
    font-size: 48px;
    color : grey;
    text-overflow: ellipsis;
    font-family: 'Cormorant Garamond', serif;
    filter : none;
}

h5{
    text-align: right;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
}

h3{
    text-align: right;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}

h1{
    text-align: right;
    font-size: 36px;
    font-family: 'Cormorant Garamond', serif;
}

p{
    margin-top: 25px;
    text-align: left;
    font-size: 20px;
}

div{
    padding-top: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-size : 16px;
}

.nav-tabs{
    font-size: 20px;
    font-family: 'Julius Sans One', serif;
    color: black;
    padding-top: 19px;
    border : none;
}
.navbar{
    margin-bottom: 0;
}

.container{
    margin-top: 0;
    padding-top: 0;
}

.navbar-brand{
    font-size : 40px;
    margin-bottom: 5px;
    font-family: 'Vidaloka', serif;
}

.footer{
    border: black 2px solid;
    font-size : 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Julius Sans One', serif;
    text-align: center;
    margin-top: 20px;
}

#resume{
    width : 100%;
    z-index: 0;
}

#button{
    
}

small {
    text-align: right;
    float: right;
}

.description{
    text-align: right;
}
