
/* relative position classes */
.centered{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.center{
    left : 50%;
    text-align: center;

}

.hidden{
    display: none;
}


/******************* Home Page ********************/
#homepage{
    overflow: hidden;
}

.under {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
}

.over, .menu{
    position: fixed;
    left: 57%;
    top: 35%;
    z-index:-1;
    width: 330px;
}

@media screen and (min-width : 1300px){
    .over, .menu{
        top: 30%;
        width: 350px;
    }
    
    .under{
        width: 80%;
    }
}

@media screen and (max-width: 850px) 
              and (min-width : 680px){
    .over {
        position: absolute;
        left: 50%;
        top: 43%;
    }
}

@media screen and (max-width: 680px) {
    .over {
        position: absolute;
        left: 35%;
        width: 250px;
    }
}

#headerimg{
    width: 100%;
    background-size: cover;
}

#home-header{
    position:relative;
    height:100px;
    width:100%;
    background-position: center center;
    background-size:cover;
    left: 0;
    top:0;
    z-index: -999;
    background-image: url("Images/header.png");
}
