* {
    font-family: Avenir, sans-serif;
}

/* relative position classes */
.centered{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.center{
    left : 50%;
    text-align: center;

}

.hidden{
    display: none;
}


h1.page-title {
    font-family: Avenir, sans-serif;
    color: rgb(188, 188, 188);
    font-size: 40pt;
}

#pagetitle {
    position: fixed;
    left: 13%;
    top: 10%;
}

.row {
    padding: 10px;
}

