* {
    font-family: Avenir, sans-serif;
}

.hidden {
    display: none;
}

.full-page {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.87);
    position: fixed;
}

#more {
    position: fixed;
    right: 3%;
    width: 2%;
    top: 6%;
}

#next {
    position: fixed;
    right: 2%;
    top: 50%;
    width: 4%;
}

#back {
    position: fixed;
    left: 2%;
    top: 50%;
    width: 4%;
}

img.project{
    top: 50%;
    position: fixed;
    width: 35%;
    transform: translate(0, -50%);
    left: 150%;
}

#aboutme-description {
    left: 150%;
    top: 23%;
    width: 40%;
    height: 60%;
    overflow-y:scroll;
    position: fixed;
    font-size: 18pt;
    color: gray;
    
}

h1.page-title {
    font-family: Avenir, sans-serif;
    color: rgb(188, 188, 188);
    font-size: 40pt;
}

#pagetitle {
    position: fixed;
    left: 13%;
    top: 10%;
}

#me {
    position:fixed;
    width: 30%;
    top: 47%;
    transform: translate(0%, -50%);
    left: 150%;
}

.page-icon {
    width: 5%;
}


#page-bar {
    position: fixed;
    top: 13%;
    transform: translate(50%, 0%);
    right: 20%;
    font-family: Avenir, sans-serif;
    font-size: 12pt;
    color: gray;
}

#processbar{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 2%;
    background-color: rgb(188, 188, 188);
}

#github-icon {
    width: 8%;
    margin: 10px;
}

#resume-icon {
    width: 6%;
    margin: 10px;
}

#mail-icon {
    width: 7%;
    margin: 10px;
}

#email {
    padding-bottom: 0px;
}

