.navbar {
    padding: 20px 30px 30px;
    text-align: left;
}

.navlink {
    margin: 0 20px;
    text-decoration: none;
    font-weight: 700;
    color: #444;
    font-size: 20px;
}

.navlink.active {
    border-bottom: 5px #000 solid;
    font-weight: 900;
    color: #000;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 20px 20px 30px;
    }
    .navlink {
        margin: 0 15px;
    }
}