html {
  /* background textures */

  background: url("image/gray1.jpg") no-repeat center center fixed;

  /*
  background: url("image/texturetastic_gray_@2X.png") no-repeat center center fixed;
  */
  /*
  background-color: rgb(220, 220, 220);
  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 0px;
  margin: 0px;
}

h1{
    font-family: Poiret One, Didot, sans-serif;
}

body{
    overflow: hidden;
}

footer{
    /* anchor at bottom right */
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, -50%);

    /* text style */
    font-size: 10pt;
    font-family: Consolas, sans-serif;
    color: black;
}

button{
    background: none;
    border: solid 3px white;
    color: white;
}

button:hover{
    color: black;
    border: solid 3px black;
}

.music-btn{
    width: 50px;
    margin-right: 30px;
}

.returnButton{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.btn-label{
    margin: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

    font-family: Consolas, sans-serif;
    font-size: 14pt;
}

.description{
    font-family: Cochin, sans-serif;
    font-size: 15pt;
    color: rgb(200, 200, 200);
}

.textbar{
    background-color: rgba(50, 50, 50, 0.75);

    /* text element */
    color: white;
    text-align: right;

    position: absolute;
    height: 100%;
}

.textbarAlbums{
  background-color: rgba(50, 50, 50, 0.75);

  /* text element */
  color: white;
  text-align: right;

  padding: 15px;
  position: absolute;
  height: 100%;
}

.center-description{
    transform: translate(0%, -50%);
    position: inherit;
    top: 50%;
}

/********************* General class *********************/

.hidden{
    display: none;
}

.center{
    position: inherit;
    left: 50%;
    transform: translate(-50%, 0%);
}

.right{
    text-align: right;
    transform: translate(-50%, 0%);
}

/********************* Special Class ********************/

.recommendedArt{
    width: 40%;
    margin: 10px;
}

.recommendedArt:hover{
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.9);
}

h4.artist{
    font-size: 25pt;
    font-family: Cochin, sans-serif;
    margin-bottom: 5px;
    margin-top: 0x;
}

h2.title{
    font-size: 30pt;
    font-family: Helvetica, sans-serif;
    margin-top: 5px;
}

h1.project-title{
    font-size: 60pt;
}

h3.help-header{
    text-align: left;
    color: white;
    font-family: Poiret One, sans-serif;
    font-weight: 200;
    font-size: 30pt;
    
    margin-bottom: 5px;
    /*
    padding-left: 40px;
    padding-right: 30px;
    */
}

h5.comment{
    font-size: 13pt;
    color: rgb(200, 200, 200);
    
    margin-top: 15px;
}

.clip-circle {
  clip-path: circle(250px at center);
}

/********************* unique component *********************/

#project-description{
    position: auto;
    width: 50%;
    transform: translate(100%, 0);
    text-align: right;
}

#preview{
    box-shadow: 10px 10px 5px #888888;
    border: none;
}

#introbar{
    margin: 0px;
    padding: 30px;  /* hard coded */

    width: 57%;    /* can adjust accordingly */
}

#helptext{
    width: 30%;
    right: 10%;
}

#logo{
    width: 50%;   /* adjust to media screen size */
}

#bartext{
    padding-right: 5%;
    text-align: right;
}


#draw-btn{
    margin-right: 20px;
    margin-top: 20px;
}

#cover{

    /* div style */
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px 5px rgb(170, 170, 170);
    background-color: white;

    /* intact with the div overhead */
    position: fixed;
    transform: translate(+13%, -50%);
    right: 47%;
    top: 50%;

}

#disc{
    width: 500px;

    /* achoring at the center */
    position: fixed;
    transform: translate(0, -50%);
    right: 20%;
    top: 50%;
}

#return-button{
    
}

#songDetail{
    /* position */
    position: absolute;
    transform: translate(0, -50%);
    
    /* size */
    width: 55%;
    height: auto;
    background-color: rgba(220, 220, 220, 0.83);
    
    /* anchor position */
    top: 50%;
    left: 0%;
    
    /* padding */
    padding: 40px;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#vinyl{
  position: relative;
  top: 0;
  left: 0;
}

#center-cog{

    position: absolute;
    width: 5%;
    top: 50%;
    left: 50%;
}