
#bg {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}


#content {
    position: fixed;
}

* { 
    color:#000; 
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

a{
    font-family: Consolas, sans-serif;
}

.box {
    width: 25%;

    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 1%;
}

#header {
    position: fixed;
    height: 7%;
    background: rgb(200, 200, 200);
    bottom: 0%;
    width: 100%;
    text-align: right;
}

h1 {
   
    display: inline;
}

.time {
    position: inherit;
    bottom: 1.5%;
    right : 0%;
    text-align: right;
    margin-right: 10%;
    
}

.hour {
    
    font-size: 40pt;
    margin-bottom: 50%;
    color: white;
}


#logo {
    position: inherit;
    bottom: 0%;
    left: 0%;
    text-align:: left;
    color: rgb(170, 170, 170);
    font-size: 40pt;
    margin-left: 10%;
    bottom: 1%;
}



body {
  background-color: #000;
  text-align: center;
  color:#fff;
  padding-top:17em;

}


.blink {
	-webkit-animation: blink 1.2s linear infinite;
	-moz-animation: blink 1.2s linear infinite;
	-ms-animation: blink 1.2s linear infinite;
	-o-animation: blink 1.2s linear infinite;
	 animation: blink 1.2s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

#temp-37,
#temp-38,
#temp-39{
    position: absolute;
    top: 74%;
    right: 17%;
    font-size: 82pt;
    color: rgb(100, 100, 100);
}

