/*
    * Color Scheme *

    midTree : rgb(76, 176, 52);
    lighTree : rgb(129,195,71);
    darkTree : rgb(1,147,83);
    road : rgb(217,235,177);
    background : rgb(149,208,221);
    water : rgb(253,219,1);
    broomOrange : #E19314;
    yellow : #FFEA43;

*/


.glyphicon-ring {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 6px solid white;
  color: white;
  display: inline-table;
  text-align: center;
  float: right;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 60px;
  vertical-align: middle;
  display: table-cell;
}


.glyphicon-gray {
  color: white;
  background: rgba(255,255,255,0);
  border: 6px solid #fff;
}

.glyphicon-gray:hover {
  color: #FFEA43;
  border: 6px solid #FFEA43;
}

.hidden{
    display: none;
}


/********** Home Page *********/

.centered{
    left: 30%;
    top: 30%;
    position: absolute;
    width: 35%;
}

#title{
    left: 7%;
    top: 2%;
    width: 80%;
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
}

.body{
    background-color: rgb(149, 208, 221);
}

.cloud{
    position: absolute;
    width: 40%;
}

#cloud1{
    left: 5%;
    top: 20%;
}

#cloud2{
    left: 40%;
    top: 80%;
}

#cloud3{
    left: 70%;
    top: 40%;
}

#harry{
    left: 50%;
    top: 50%;
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
}

#play{
    position: absolute;
    left: 46%;
    bottom: 10%;
}

#help{
    position: absolute;
    right: 20%;
    bottom: 10%;
}

#setting{
    position: absolute;
    left: 20%;
    bottom: 10%;
}

/********** Game Page *********/
#mainCanvas{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hp{
    transform: translate(-100%, -50%;);
    width: 400px;
}